<mat-toolbar class="footer">
    <span>
        Desenvolvido com
        <i class="material-icons red v-middle">
            favorite
        </i>
        por <strong>Jonatas La<span class="red">3</span>t</strong>
    </span>
</mat-toolbar>